<%-include ("head") %>
<header class="about">
  <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
    About Our Hospital
  </h1>
</header>

<!-- Main Content Section -->
<main>
  <section class="page2 cl" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
    <div class="content mypage1about">
      <p>
        Welcome to permacTech hospital, where we prioritize your health and
        well-being. Our dedicated team of healthcare professionals is committed
        to providing exceptional medical care and services to our community.
      </p>
    </div>
  </section>

  <section class="page2 page2about" data-aos="fade-up" data-aos-duration="1000">
    <div class="content">
      <div>
        <h2>Our Mission</h2>
        <p>
          Our mission is to deliver high-quality, compassionate healthcare
          services, utilizing advanced medical technologies and a
          patient-centered approach. We aim to improve the health and lives of
          those we serve.
        </p>
      </div>
      <div>
        <img src="/images/peopl.jpg" alt="" />
      </div>
    </div>
  </section>
</main>
<%-include ("footer") %>
