<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="refresh" content="3" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/resindex.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navigation">
      <h3 class="heading">HOSPITAL</h3>
      <ul id="ul">
        <li><a href="/">home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li>
          <a class="loginbtn" id="l" href="/patient/login"> login </a>
        </li>
      </ul>
      <div class="container nav-container" onclick="show()">
        <input class="checkbox" type="checkbox" name="" id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
    </nav>
  </body>
  <script>
    function show() {
      let ul = document.getElementById("ul");
      ul.classList.toggle("show");
    }
  </script>
</html>
