<%-include ("head") %>

<section class="page1">
  <div class="page1-content">
    <h1 data-aos="fade-up" data-aos-duration="1000">
      Welcome to PermacTech Healthcare Service
    </h1>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
      Transforming Healthcare with PermacTech: Your Partner in Wellness and
      Innovation.
    </p>
    <button
      class="main_btn"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      Sign Up Now
    </button>
  </div>
</section>
<section class="page2">
  <h2 data-aos="fade-up" data-aos-duration="1000">About The Ceo</h2>

  <div class="content">
    <div class="left" data-aos="fade-up" data-aos-duration="1000" >
      <p>
        <span>Pelumi</span>, widely recognized as Permac, is a dynamic software
        engineer based in Lagos, Nigeria. With a passion for technology and a
        diverse skill set encompassing HTML, CSS, JavaScript, Python, Node.js,
        and more, Permac stands out as a versatile professional. Beyond his
        coding prowess, he is also an accomplished drummer and an emerging
        YouTuber.
      </p>
      <p>
        As the founder of a tech-based company, Permac dedicates himself to
        addressing global challenges through innovative solutions. His
        commitment to leveraging technology for positive impact reflects not
        only in his coding projects but also in his entrepreneurial endeavors.
        Permac's journey unfolds at the intersection of creativity, technology,
        and a drive to make a meaningful difference in the world."
      </p>
    </div>
    <div class="right" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
      <img src="/images/pelumi.jpg" alt="" />
    </div>
  </div>
</section>
<section class="page3" data-aos="fade-up" data-aos-duration="1000" >
  <div>
    Experience seamless healthcare with our advanced hospital web app. We
    prioritize your well-being by providing a user-friendly platform that
    streamlines your medical journey. From appointment scheduling to accessing
    health records, our app is designed to make your experience efficient and
    convenient. <br />
    Our hospital web app is more than just a tool; it's a commitment to your
    well-being. Join us in embracing the future of healthcare technology."
  </div>
</section>
<%-include ("footer") %>
