<%-include ("head") %>
<!-- Header Section -->
<section class="services">
  <header>
    <h1>Explore Our Services</h1>
    <!-- Add navigation or other header elements if needed -->
  </header>

  <!-- Main Content Section -->
  <main>
    <section class="page2 page2about" data-aos="fade-up" data-aos-duration="1000">
      <h2 class="h2">Medical Services</h2>
      <p>
        Our hospital provides a wide range of medical services to meet the
        diverse healthcare needs of our community. From routine check-ups to
        specialized treatments, our experienced team is here to ensure your
        well-being.
      </p>
    </section>

    <section class="page2" data-aos="fade-up" data-aos-duration="1000">
      <h2>Specialized Departments</h2>
      <p style="color: white">
        Explore our specialized departments, each dedicated to providing expert
        care in specific medical areas. Whether you need cardiology,
        orthopedics, pediatrics, or any other specialty, our skilled
        professionals are ready to assist you.
      </p>
    </section>

    <section class="page2 page2about" data-aos="fade-up" data-aos-duration="1000">
      <h2>Emergency Care</h2>
      <p>
        Our hospital offers 24/7 emergency care services. In times of urgent
        medical need, our emergency department is equipped to provide prompt and
        effective care. Your health and safety are our top priorities.
      </p>
    </section>
  </main>
</section>

<%-include ("footer") %>
