@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-green: #26ce31;
  --grey-color: #ebeff1;
  --text-grey-color: #888888;
  --white: #ffffff;
  --black: #000;
}

* {
  margin: 2;
  padding: 2;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black);
  list-style-type: none;
  font-family: Roboto;
}

body {
  width: 100%;
  background-color: var(--1stbackground-color);
  color: var(--text-color);
}

.page1 {
  width: 100%;
  padding-bottom: 10%;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-image: linear-gradient(90deg, #26ce31, rgba(38, 206, 49, 0.031372549)), url(../images/hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.page1 .page1-content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8%;
  gap: 10px;
}
.page1 .page1-content h1 {
  font-size: 65px;
  font-weight: 600;
  color: white;
  width: 70%;
}
.page1 .page1-content p {
  color: #ebeff1;
  font-size: 25px;
  width: 70%;
}
.page1 .page1-content .main_btn {
  padding: 13px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 .page1-content .main_btn:hover {
  background-color: white;
  color: #26ce31;
  transition: 0.5s;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding-inline: 8%;
  background-color: white;
  justify-content: space-between;
}
.navigation h3 {
  color: #26ce31;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  gap: 20px;
}
.navigation ul li a {
  color: #26ce31;
}
.navigation ul li a:hover {
  color: var(--grey-color);
}
.navigation .loginbtn {
  padding: 13px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 235, 53, 0.6705882353);
  border: none;
  margin-left: 60px;
  border-radius: 10px;
  color: white;
}

.heading {
  font-size: 25px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: white;
}

.page2 {
  width: 100%;
  padding-bottom: 10%;
  flex-wrap: wrap;
  padding-inline: 8%;
}
.page2 h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-green);
  font-size: 35px;
  padding-block: 50px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.page2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.page2 .content p {
  color: var(--text-grey-color);
  width: 90%;
  line-height: 1.3;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  text-align: left;
}
.page2 .content p span {
  font-size: 25px;
  font-weight: bolder;
  color: #26ce31;
  border-left: 6px solid #26ce31;
  padding-left: 10px;
}
.page2 .content img {
  width: 500px;
  border-radius: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 10px solid #26ce31;
  border-right: 10px solid #26ce31;
}

.page3 {
  width: 100%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 8%;
  background-size: cover;
}
.page3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 25px;
  padding-inline: 40px;
  text-align: center;
  height: 300px;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #010601, rgba(2, 7, 2, 0.6196078431)), url(../images/group.jpg);
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header.about {
  font-size: 25px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: linear-gradient(rgba(29, 137, 36, 0.1568627451), rgba(29, 137, 36, 0.1568627451)), url(../images/building.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about h1 {
  color: white;
}

.page2about {
  background-color: var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 40px;
}

.page1about {
  padding-bottom: 2;
}

.page1about h1 {
  margin-block: 2;
}

.page2 div.mypage1about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding-bottom: 2;
}

.cl {
  padding-bottom: 2;
}

.services {
  color: white;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1568627451), rgba(0, 0, 0, 0.1568627451)), url(../images/operate.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.services header {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-green);
  display: flex;
  justify-content: center;
  align-items: center;
}
.services header h1 {
  color: white;
  margin-block: 100px;
}
.services main .page2 h2 {
  padding-block: 30px;
}
.services main .page2 p {
  color: rgb(61, 61, 61);
  text-align: center;
}

/**
  Login
 */
.Login {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-green);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4941176471), rgba(0, 0, 0, 0.5607843137)), url(../images/reception2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.Login h1 {
  text-align: center;
  color: white;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  padding-block: 30px;
  padding-inline: 30px;
}
form p {
  width: 100%;
}
form p label {
  font-size: 12px;
}
form p input {
  padding: 15px;
  width: 100%;
}
form p input:focus {
  outline: 1px solid #26ce31;
}
form .btn {
  padding: 13px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #26ce31;
  margin-top: 20px;
  width: 100%;
}

.link {
  color: blue;
}

.error-input {
  border: 1px solid red;
}

.error-message {
  color: red;
  display: inline-block;
}

footer {
  background-image: linear-gradient(rgba(38, 206, 49, 0.8117647059), rgba(29, 137, 36, 0.8)), url(../images/building.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-section {
  color: white;
  margin-bottom: 20px;
}

.footer-section > h3,
p {
  color: white;
}

.footer-section > h3 {
  font-size: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff; /* Replace with your social media colors */
  color: #333; /* Replace with your social media icon colors */
  border-radius: 50%;
  margin: 0 5px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .footer-section {
    text-align: left;
  }
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-links a {
    margin: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #26ce31;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: absolute;
  height: 60px;
  width: 50px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #26ce31;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 2 2;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 2 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #26ce31;
}

.nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg) translateY(15px);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg) translateY(-15px);
}/*# sourceMappingURL=index.css.map */